parameters:
	inferPrivatePropertyTypeFromConstructor: true
	checkMissingIterableValueType: false
	ignoreErrors:
		# does not support anonymous classes like Slim is using
		-
			message: '#Undefined variable: \$this#'
			path: %currentWorkingDirectory%/index.php
