{% include('_header.html') %}

<div class="container">

  <div class="column is-6 is-offset-3">
    <div class="card">
      <div class="card-content">
        <p class="title is-2">Create new location</p>

        {% for msg in flash.getMessage('error') %}
          <div class="alert alert-danger" role="alert"><strong>Sorry</strong> {{ msg }}</div>
        {% endfor %}

        <form action="/location/add" method="post">
          <input type="hidden" id="latitude" name="latitude">
          <input type="hidden" id="longitude" name="longitude">

          <div class="field">
            <label class="label">Location name</label>
            <div class="control">
              <input type="text" id="name" name="name" class="input" value="{{ data['name'] }}">
            </div>
            <p class="help">
              Length from 3-50. Allowed characters only 0-9, A-Z, a-z.
            </p>
          </div>

          <div class="field">
            <label for="address">Address</label>
            <div class="control">
              <input type="text" id="address" name="address" class="input" placeholder="Lendkai 45, 8020 Graz" value="{{ data['address'] }}">
              <p class="help">
                Post address of the location. Format: Strasse Nr., PLZ Ort
              </p>
            </div>
          </div>

          <div class="field">
            <div id="map" class="map"></div>
          </div>

          <div class="control">
            <button class="button is-primary">Create</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

{% include('_footer.html') %}
