{% include('_header.html') %}

<div class="container">

  <h1 class="title is-2">Locations</h1>

  <table class="table is-striped is-bordered is-hoverable is-fullwidth">
    <thead>
      <tr>
        <th>Name</th>
        <th style="width: 60%">Address</th>
        <th>Status</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for loc in locations %}
        {% if loc.status == "online" %}
        <tr>
          <td>
            <a href="/location/{{ loc.name }}/">{{ loc.name }}</a>
          </td>
          <td>
            {{ loc.address }}
          </td>
          <td>
            <span class="icon icon-map-pin-{{ loc.status}}" aria-hidden="true"></span>
          </td>
          <td>
            <a href="/map?lat={{ loc.latitude }}&amp;lng={{ loc.longitude }}" class="button is-link is-outlined is-small">Map</a>
            <a href="/location/{{ loc.name }}/" class="button is-primary is-small">Show</a>
          </td>
        </tr>
        {% endif %}
      {% endfor %}
    </tbody>
  </table>

</div>

{% include('_footer.html') %}
