{% include('_header.html') %}

<div class="container">
  {% for msg in flash.getMessage('error') %}
    <div class="notification is-danger"><strong>Sorry</strong> {{ msg }}</div>
  {% endfor %}

  <div class="column is-6 is-offset-3">
    <div class="card">
      <div class="card-content">
        <p class="title is-2">Reset Password</p>

        <form action="/passwordreset" method="post">
          <div class="field">
            <label class="label">EMail</label>
            <div class="control">
              <input type="text" name="email" class="input" value="{{ data['email'] }}">
            </div>
            <p class="help">
              We will send a verification code to your EMail address.
            </p>
          </div>

          <div class="control">
            <button class="button is-primary">Send Email</button>
          </div>
        </form>

      </div>
    </div>
  </div>
</div>

{% include('_footer.html') %}
