{% include('_header.html') %}

<div class="container">
  {% for msg in flash.getMessage('error') %}
    <div class="notification is-danger"><strong>Sorry</strong> {{ msg }}</div>
  {% endfor %}

  <div class="column is-6 is-offset-3">
    <div class="card">
      <div class="card-content">
        <p class="title is-2">Create new account</p>

        <form action="/register" method="post">
          <div class="field">
            <label class="label">EMail</label>
            <div class="control">
              <input type="text" name="email" class="input" value="{{ data['email'] }}">
            </div>
            <p class="help">
              This email will be visible for other users.
            </p>
          </div>

          <div class="field">
            <label class="label">Password</label>
            <div class="control">
              <input type="password" name="password1" class="input">
            </div>
            <p class="help">
              Must be at least 6 characters long. Please use letters, numbers and special characters.
            </p>
          </div>
          <div class="field">
            <label class="label">Password</label>
            <div class="control">
              <input type="password" name="password2" class="input">
            </div>
            <p class="help">
              Same password again as above. For verification against typing mistakes.
            </p>
          </div>

          <div class="field is-horizontal">
            <div class="field-body">
              <div class="field">
                <label class="label">Firstname</label>
                <input type="text" name="firstname" class="input" placeholder="First name (optional)" value="{{ data['firstname'] }}">
              </div>
              <div class="field">
                <label class="label">Lastname</label>
                <input type="text" name="lastname" class="input" placeholder="Last name (optional)" value="{{ data['lastname'] }}">
              </div>
            </div>
          </div>

          <div class="field">
            <label class="label">Phone</label>
            <div class="control">
              <input type="text" name="phone" class="input" placeholder="+43 664 000001 (optional)" value="{{ data['phone'] }}">
            </div>
            <p class="help">
              Telephone number will be visible for other users so they can contact you.
            </p>
          </div>

          <div class="control">
            <button class="button is-primary">Register</button>
          </div>
        </form>

      </div>
    </div>
  </div>
</div>

{% include('_footer.html') %}
