{% include('_header.html') %}

<div class="container">
  <div class="columns is-marginless">
    <div class="column is-6">

      <div class="card">
        <header class="card-header">
          <p class="card-header-title">
            Account Details
          </p>
        </header>
        <div class="card-content">
          <div class="content">
            <div class="columns">
              <div class="column">
                <strong>E-Mail</strong>
              </div>
              <div class="column">
                <a href="mailto:{{ user.email }}">{{ user.email }}</a>
              </div>
            </div>
            <div class="columns">
              <div class="column">
                <strong>Name</strong>
              </div>
              <div class="column">
                {{ user.firstname }} {{ user.lastname }}
              </div>
            </div>
            <div class="columns">
              <div class="column">
                <strong>Phone</strong>
              </div>
              <div class="column">
                {{ user.phone }}
              </div>
            </div>
          </div>
        </div>
        <footer class="card-footer">
          <a href="/user/edit" class="card-footer-item">Edit userdata</a>
          <a href="/user/changepwd" class="card-footer-item">Change password</a>
        </footer>
      </div>

    </div>

  </div>

  <div class="columns is-marginless">
    <div class="column">

      <div class="card">
        <header class="card-header">
          <p class="card-header-title">
            Your Locations
          </p>
        </header>
        <div class="card-content">

          <table class="table is-striped is-fullwidth">
            <thead>
              <tr>
                <th>Name</th>
                <th style="width: 60%">Address</th>
                <th>Status</th>
                <th></th>
              </tr>
            </thead>
            <tbody>

              {% for loc in locations %}
                <tr>
                  <td>
                    <a href="/location/{{ loc.name }}/">{{ loc.name }}</a>
                  </td>
                  <td>
                    {{ loc.address }}
                      <a href="/map?lat={{ loc.latitude }}&lng={{ loc.longitude }}" class="btn btn-outline-primary btn-sm">
                      <span class="icon icon-map-pin" aria-hidden="true"></span>
                    </a>
                  </td>
                  <td>
                    <img src="/images/tower-{{ loc.status }}.svg" style="height: 2em" alt="{{ loc.status }}">
                  </td>
                  <td>
                    <a href="/location/{{ loc.name }}" class="btn btn-primary btn-sm">Show</a>
                    <a href="/location/{{ loc.name }}/edit" class="btn btn-primary btn-sm">
                      <span class="icon icon-tool" aria-hidden="true"></span>
                    </a>
                  </td>
                </tr>
              {% else %}
                <tr>
                  <td colspan="4">
                    <i>No Locations yet</i>
                  </td>
                </tr>
              {% endfor %}

            </tbody>
          </table>

        </div>
        <footer class="card-footer">
          <a href="/location/add" class="card-footer-item">Add Location</a>
        </footer>
      </div>
    </div>
  </div>
</div>

{% include('_footer.html') %}
